<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Promocao</title>
</head>
<body>
	<form action="/promocoes" method="POST">
		<label for="descricao">Descrição:</label>
		<input type="text" name="descricao">
		<input type="submit">
	</form>
</body>
</html>